.profile {
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
}

.image-section {
    width: 100px;
}

.profile-picture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.info-section {
    flex: 1;
}

.info-section p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.status {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.button-section {
    width: 100px;
}

.button-section button {
    background-color: rgb(65, 145, 235);
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}